@page
@model ChangePasswordModel
@inject IdentityLocalizationService IdentityLocalizer

@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("CHANGE_PASSWORD");
  ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<form class="form" id="change-password-form" method="post">
  <div class="form__validation-summary" asp-validation-summary="All"></div>
  <div class="form__group">
    <label asp-for="Input.OldPassword">@IdentityLocalizer.GetLocalizedHtmlString("CURRENT_PASSWORD")</label>
    <input asp-for="Input.OldPassword" />
    <span asp-validation-for="Input.OldPassword"></span>
  </div>
  <div class="form__group">
    <label asp-for="Input.NewPassword">@IdentityLocalizer.GetLocalizedHtmlString("NEW_PASSWORD")</label>
    <input asp-for="Input.NewPassword" />
    <span asp-validation-for="Input.NewPassword"></span>
  </div>
  <div class="form__group">
    <label asp-for="Input.ConfirmPassword">@IdentityLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
    <input asp-for="Input.ConfirmPassword" />
    <span asp-validation-for="Input.ConfirmPassword"></span>
  </div>
  <button type="submit">@IdentityLocalizer.GetLocalizedHtmlString("UPDATE_PASSWORD")</button>
</form>
