@page
@model EmailModel
@inject IdentityLocalizationService IdentityLocalizer
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("MANAGE_EMAIL");
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form class="form" id="email-form" method="post">
  <div class="form__validation-summary" asp-validation-summary="All"></div>
  <div class="form__group">
    <label asp-for="Email">@IdentityLocalizer.GetLocalizedHtmlString("EMAIL")</label>
    @if (Model.IsEmailConfirmed)
    {
      <div>
        <input asp-for="Email" disabled />
        <div>
          <span>✓</span>
        </div>
      </div>
    }
    else
    {
      <input asp-for="Email" class="form-control" disabled />
      <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail">
        @IdentityLocalizer.GetLocalizedHtmlString("SEND_VERIFICATION_EMAIL")
      </button>
    }
  </div>
  <div class="form__group">
    <label asp-for="Input.NewEmail">@IdentityLocalizer.GetLocalizedHtmlString("MANAGE_EMAIL_NEW")</label>
    <input asp-for="Input.NewEmail" />
    <span asp-validation-for="Input.NewEmail"></span>
  </div>
  <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail">
    @IdentityLocalizer.GetLocalizedHtmlString("SUBMIT")
  </button>
</form>
