@page
@model EnableAuthenticatorModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP");
  ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div>
  <p>@IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_STEPS")</p>
  <ol>
    <li>
      <p>
        @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_DOWNLOAD_TEXT")
        <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
        <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> @IdentityLocalizer.GetLocalizedHtmlString("AND")
        <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> @IdentityLocalizer.GetLocalizedHtmlString("OR")
        @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_GOOGLE_TEXT")
        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> @IdentityLocalizer.GetLocalizedHtmlString("AND")
        <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
      </p>
    </li>
    <li>
      <p>@IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN1") <pre>@Model.SharedKey</pre> @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN1")</p>
      <div>@IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN_ALERT")<a href="https://go.microsoft.com/fwlink/?Linkid=852423">@IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN_ALERT_LINK")</a>.</div>
      <div id="qrCode"></div>
      <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
    </li>
    <li>
      <p>
        @IdentityLocalizer.GetLocalizedHtmlString("CONFIGURE_AUTHENTICATOR_APP_SCAN_ALERT_DETAILS")
      </p>
      <div>
        <form class="form" id="send-code" method="post">
          <div class="form__group">
            <label asp-for="Input.Code">@IdentityLocalizer.GetLocalizedHtmlString("VERIFICATION_CODE")</label>
            <input asp-for="Input.Code" autocomplete="off" />
            <span asp-validation-for="Input.Code"></span>
          </div>
          <button type="submit">@IdentityLocalizer.GetLocalizedHtmlString("VERIFY")</button>
          <div class="form__validation-summary" asp-validation-summary="ModelOnly"></div>
        </form>
      </div>
    </li>
  </ol>
</div>