@page
@model ShowRecoveryCodesModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("SHOW_RECOVERY_CODES");
  ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div role="alert">
  <p>
    <strong>
      @IdentityLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_SAFE_PLACE")
    </strong>
  </p>
  <p>
    @IdentityLocalizer.GetLocalizedHtmlString("GENERATE_2FA_RECOVERY_CODES_INFO_LOSE")
  </p>
</div>
<div>
  <div>
    @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
    {
      <code class="recovery-code">
        @Model.RecoveryCodes[row]
      </code>
      <text>&nbsp;</text>
      <code class="recovery-code">
        @Model.RecoveryCodes[row + 1]
      </code>
      <br />
    }
  </div>
</div>