@page
@model TwoFactorAuthenticationModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("2FA_AUTHENTICATION_TITLE");
  ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />

@if (Model.Is2faEnabled)
{
  if (Model.RecoveryCodesLeft == 0)
  {
    <div class="alert alert-danger">
      <strong>@IdentityLocalizer.GetLocalizedHtmlString("2FA_NO_CODES_LEFT")</strong>
      <p>
        @IdentityLocalizer.GetLocalizedHtmlString("2FA_NO_CODES_LEFT_TEXT") <a asp-page="./GenerateRecoveryCodes">@IdentityLocalizer.GetLocalizedHtmlString("GENERATE")</a>
      </p>
    </div>
  }
  else if (Model.RecoveryCodesLeft == 1)
  {
    <div class="alert alert-danger">
      <strong>@IdentityLocalizer.GetLocalizedHtmlString("2FA_ONE_CODES_LEFT")</strong>
      <p>
        @IdentityLocalizer.GetLocalizedHtmlString("2FA_ONE_CODES_LEFT_TEXT")  You can generate a new set of recovery codes. <a asp-page="./GenerateRecoveryCodes">@IdentityLocalizer.GetLocalizedHtmlString("GENERATE")</a>
      </p>
    </div>
  }
  else if (Model.RecoveryCodesLeft <= 3)
  {
    <div class="alert alert-warning">
      <strong>@IdentityLocalizer.GetLocalizedHtmlString("2FA_N_CODES_LEFT", @Model.RecoveryCodesLeft.ToString())</strong>
      <p>
        @IdentityLocalizer.GetLocalizedHtmlString("2FA_N_CODES_LEFT_TEXT") <a asp-page="./GenerateRecoveryCodes">@IdentityLocalizer.GetLocalizedHtmlString("GENERATE")</a>
      </p>
    </div>
  }

  if (Model.IsMachineRemembered)
  {
    <form method="post" style="display: inline-block">
      <button type="submit" class="btn btn-primary">
        @IdentityLocalizer.GetLocalizedHtmlString("FORGET_THIS_BROWSER")
      </button>
    </form>
  }
  <a asp-page="./Disable2fa" class="btn btn-primary">
    @IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_BUTTON")
  </a>
  <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">
    @IdentityLocalizer.GetLocalizedHtmlString("RESET_RECOVERY_CODES")
  </a>
}

<ul>
@if (!Model.HasAuthenticator)
{
  <li>
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">
      @IdentityLocalizer.GetLocalizedHtmlString("2FA_AUTHENTICATION_ADD_AUTHENTICATOR_APP")
    </a>
  </li>
}
else
{
  <li>
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">
      @IdentityLocalizer.GetLocalizedHtmlString("2FA_AUTHENTICATION_ADD_SETUP_APP")
    </a>
  </li>
  <li>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">
      @IdentityLocalizer.GetLocalizedHtmlString("2FA_AUTHENTICATION_ADD_RESET_APP")
    </a>
  </li>
}
</ul>
