@page
@model Disable2faModel
@inject IdentityLocalizationService IdentityLocalizer

@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div role="alert">
  <p>
    <strong>@IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_TEXT_HEADER")</strong>
  </p>
  <p>
     @IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_TEXT_DETAILS")
    <a asp-page="./ResetAuthenticator">
      @IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_TEXT_DETAILS_LINK")
    </a>
  </p>
</div>

<div>
  <form method="post" class="form-group">
     <button class="btn btn-danger" type="submit">
       @IdentityLocalizer.GetLocalizedHtmlString("DISABLE_2FA_BUTTON")
     </button>
  </form>
</div>
