@page
@model PersonalDataModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("PERSONAL_DATA");
  ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<p>
  @IdentityLocalizer.GetLocalizedHtmlString("PERSONAL_DATA_INFO")
</p>
<br>
<p>
  <strong>
    @IdentityLocalizer.GetLocalizedHtmlString("PERSONAL_DATA_DELETEINFO")
  </strong>
</p>
<form id="download-data" asp-page="DownloadPersonalData" method="post" class="form__group">
  <button class="btn btn-primary" type="submit">
    @IdentityLocalizer.GetLocalizedHtmlString("DOWNLOAD")
  </button>
</form>
<p>
  <a id="delete" asp-page="DeletePersonalData">
    @IdentityLocalizer.GetLocalizedHtmlString("DELETE")
  </a>
</p>