@page
@model LoginWith2faModel
@inject IdentityLocalizationService IdentityLocalizer
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA");
}

<p>@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA_TEXT")</p>

<div>
  <div>
    <form class="form" method="post" asp-route-returnUrl="@Model.ReturnUrl">
      <input asp-for="RememberMe" type="hidden" />
      <div class="form__validation-summary" asp-validation-summary="All"></div>
      <div class="form__group">
        <label asp-for="Input.TwoFactorCode">>@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_AUTHENTICATOR_CODE")</label>
        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
        <span asp-validation-for="Input.TwoFactorCode"></span>
      </div>
      <div class="form__group">
        <div class="checkbox">
          <label asp-for="Input.RememberMachine">
            <input asp-for="Input.RememberMachine" />
            @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA_REMEMBER_MC")
          </label>
        </div>
      </div>
      <div class="form__group">
        <button type="submit" class="btn btn-primary">@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN")</button>
      </div>
    </form>
  </div>
</div>
<p>
  @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA_NO_AUTHENTICATOR_DEVICE")
  <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">
    @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN_2FA_RECOVERY_CODE_TEXT")
  </a>.
</p>
