@page
@model LoginModel

@inject IdentityLocalizationService IdentityLocalizer

@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN");
}

<div class="pane">
  <div class="pane__content" >
    <h4>@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_USE_LOCAL_ACCOUNT_TO_LOG_IN")</h4>
    <form class="form" id="account" method="post">
      <div class="form__validation-summary" asp-validation-summary="All"></div>
      <div class="form__group">
        <label asp-for="Input.Username">@IdentityLocalizer.GetLocalizedHtmlString("USERNAME")</label>
        <input asp-for="Input.Username" />
        <span asp-validation-for="Input.Username"></span>
      </div>
      <div class="form__group">
        <label asp-for="Input.Password">@IdentityLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
      </div>
      <div class="form__group">
        <div>
          <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
            @IdentityLocalizer.GetLocalizedHtmlString("REMEMBER_ME")
          </label>
        </div>
      </div>
      <div>
        <button type="submit">@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN")</button>
      </div>
      <div>
        <p>
          <a id="forgot-password" asp-page="./ForgotPassword">@IdentityLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD")</a>
        </p>
        @if (@Model.AllowSelfRegister)
        {
          <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@IdentityLocalizer.GetLocalizedHtmlString("REGISTER_AS_NEW_USER")</a>
          </p>
        }
      </div>
    </form>
  </div>
  <div class="pane__aside">
    <h4>@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_USE_ANOTHER_SERVICE_LOG_IN")</h4>
    @{
      if ((Model.ExternalLogins?.Count ?? 0) == 0)
      {
        <div>
          <p>
            @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_NO_EXTERNAL_LOGINS")
            @*See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.*@
          </p>
        </div>
      }
      else
      {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
          <div>
            <p>
              @foreach (var provider in Model.ExternalLogins)
              {
                <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
              }
            </p>
          </div>
        </form>
      }
    }
  </div>
</div>
