@page

@using Microsoft.AspNetCore.Identity
@using tomware.Microip.Web

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityLocalizationService IdentityLocalizer

@model LogoutModel
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("LOGOUT");
}

@if (SignInManager.IsSignedIn(User))
{
  <section>
    <p>@IdentityLocalizer.GetLocalizedHtmlString("LOGOUT_QUESTION")</p>
    <form class="form" id="logout" method="post">
      <input type="hidden" name="logoutId" value="@Model.LogoutId" />
      <div class="form-group">
        <button type="submit">@IdentityLocalizer.GetLocalizedHtmlString("SUBMIT")</button>
      </div>
    </form>
  </section>
}
else
{
  <section>
    <p>@IdentityLocalizer.GetLocalizedHtmlString("LOGOUT_TEXT")</p>
  </section>
}