@page
@model ResetPasswordModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD");
}

<h4>@IdentityLocalizer.GetLocalizedHtmlString("RESET_YOUR_PASSWORD")</h4>

<div>
  <div>
    <form class="form" method="post">
      <div class="form__validation-summary" asp-validation-summary="All"></div>
      <input asp-for="Input.Code" type="hidden" />
      <div class="form__group">
          <label asp-for="Input.Email">>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL")</label>
          <input asp-for="Input.Email" />
          <span asp-validation-for="Input.Email"></span>
      </div>
      <div class="form__group">
          <label asp-for="Input.Password">@IdentityLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
          <input asp-for="Input.Password" />
          <span asp-validation-for="Input.Password"></span>
      </div>
      <div class="form__group">
          <label asp-for="Input.ConfirmPassword">@IdentityLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
          <input asp-for="Input.ConfirmPassword" />
          <span asp-validation-for="Input.ConfirmPassword"></span>
      </div>
      <button type="submit">@IdentityLocalizer.GetLocalizedHtmlString("RESET")</button>
    </form>
  </div>
</div>

